@tailwind base;
@tailwind components;
@tailwind utilities;

.width_definition-1{
  width:66.67%;
}
.width_definition-2{
  width:33.33%;
}
.width_definition-3{
  width:41.67%;
}
.width_def_div{
  width:100%;
}
.width_definition-4{
  // width:58.33%;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.purple {
  background-color: purple;
}
.border_right {
  border-right: 3px solid white;
}
.blue{
  background-color: blue;
}